apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ch-users-service
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: contractors-haven
  source:
    repoURL: git@github.com:ContractorsHaven/ch-users-service.git
    targetRevision: main
    path: helmchart
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: contractors-haven
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m